// Variables

$content-max-width: 1280px;
$content-margin: 0 20px;

$form-box-width: 580px;

// Global

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}